.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  

}

.movieCard {
    perspective: 1000px;
    width: 300px; 
    height: 450px; 
    position: relative;

    margin: 1rem 1rem 1rem 1rem;

    
    
  }
  
  .movieFront,
  .movieBack {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    border-radius: 5px; /* Add border radius as needed */

    
  }
  
  .movieBack {
    background-color: whitesmoke;
h2 {
    font-size: 1.5rem;
    font-weight: 700;
}
h3 {
    font-weight: 600;
}

    
}

  .hidden {
    display: none;
  }
  